:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #92d1ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.calender-container {
  padding: 50px;
  background-color: aliceblue;
}

.btn-event {
  background-color: #086acd;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
}
.btn-container {
  margin-bottom: 10px;
}
