:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f0f8ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.calender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-bottom: 7rem;
  width: 100%;
  height: 100vh;
}

.rbc-calendar {
  width: 90%;
  max-width: 1200px;
  height: 90%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.btn-event {
  background-color: #086acd;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 6px;
}

.btn-event:hover {
  background-color: #004a7c;
}

.rbc-event {
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
}

.rbc-event:hover {
  background-color: #ffcc80; /* Thêm hiệu ứng hover cho sự kiện */
}
